<!doctype html>
<html data-path="<%= @spec.path %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Konacha Tests</title>

    <% @stylesheets.each do |file| %>
      <%# Use :debug => false for stylesheets to improve page load performance. %>
      <%= stylesheet_link_tag file, :debug => false %>
    <% end %>

	<%= javascript_include_tag "konacha/iframe", :debug => false %>
    <%= javascript_include_tag @spec.asset_name %>
  </head>
  <body>
  </body>
</html>
