<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Konacha Tests</title>
    <%= stylesheet_link_tag "konacha", :debug => false %>
    <%= javascript_include_tag "qunit", "pavlov", "konacha/parent", :debug => false %>
    <%= javascript_include_tag("konacha/runner", :debug => false) if @run_mode.runner? %>
  </head>
  <body>
    <% @specs.each do |spec| %>
      <%= content_tag :iframe, "", :src => iframe_path(spec.asset_name), :class => "test-context", "data-path" => spec.path %>
    <% end %>
    <h1 id="qunit-header"></h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
  </body>
</html>
